body {
  background-color: rgb(243, 133, 38);
  text-align: center
}
body, h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.radio-option {
  cursor: pointer;
  height: 23px;
  width: 23px;
  background: url(../images/checkbox2.png) no-repeat 0px 0px;
}

.radio-option.click {
  background: url(../images/checkbox1.png) no-repeat 0px 0px;
}